@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #73f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 4.5rem;
  width:100%;
  border: 17rem;
  background-color: #9e9d9d;
  
  margin-bottom: 2rem;
}

.wrapper {
  background: #f6f8f9;
  width: 30rem;
  padding: 2rem;
 
  border-radius: 2rem;
  box-shadow: 0px 9px 15px -3px rgba(200, 194, 194, 0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}
.buttonBox{
  grid-column:2/5;
}

.button {
  background: #1f1f1f10;
  height: 4.5rem;
  width: 100%;
  padding: 22px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242121;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  border: 2px dotted #242424;
}

.equals {
  background: hsl(147, 59%, 55%);
  grid-column:3/5;
}

.opt {
  background: #f79505;
}

h2{
color: rgb(46, 79, 188);
margin-top: 10%;
display: flex;
text-align: center;
margin-left:36%;
font-size: 30px;
margin-bottom: 2%;
}


